.carousel-inner {
    height: 50vh;
    padding-bottom: 50%;
  }
  
  .carousel-item {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .carousel-item img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .navbar__button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease;
  }
  
  
  .btn-default{
    border-radius: 20px;
  }